box2d-py==2.3.5
gym==0.23.1
gym-minigrid==1.1.0
gym-notices==0.0.8
h5py==3.7.0
hyperloglog==0.0.14
MinAtar==1.0.11
minigrid==2.3.1
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.8.1.78
ordered-set==4.1.0
packaging==23.2
pandas==1.1.5
pandocfilters==1.5.0
pickleshare==0.7.5
Pillow==9.5.0
scipy==1.7.3
seaborn==0.11.2
six==1.16.0
toml==0.10.2
toolz==0.12.1
torch==1.13.1
torchaudio==0.13.1
torchbearer==0.5.0
torchvision==0.14.1
tqdm==4.66.1
urllib3==1.26.6
wandb==0.12.21
wheel==0.38.4
zipp==3.15.0
