[arguments]
run_name = str:EXID-DQN-Cartpolev00.1EX1
env = str:CartPole-v1
episodes = int:200
buffer_size = int:100000
seed = int:1
min_eps = float:0.01
eps_frames = int:10000
log_video = int:0
save_every = int:100
data_file = str:data/CartPole-v1_run3_erconv.pkl
data_type = str:er
data_percent = float:0.1
use_wandb = bool:True
use_heur = bool:True
use_teach = bool:True
warm_start = int:30
teacher_update = int:15
threshold = int:190
lr = float:0.001
lam = float:0.5
algo_type=str:EXID
use_ood=bool:True
tlr = float:0.01