[arguments]
run_name = str:EXID-DQN-LunarLander-v20.1EX
env = str:LunarLander-v2
episodes = int:300
buffer_size = int:100000
seed = int:76
min_eps = float:0.01
eps_frames = int:10000
log_video = int:0
save_every = int:100
data_file = str:data/LunarLander-v2_run3_erconv.pkl
data_type = str:er
data_percent = float:0.1
use_wandb = bool:True
use_heur = bool:True
use_teach = bool:True
warm_start = int:30
teacher_update = int:15
threshold = int:20
lam = float:0.5
lr = float:0.0005
algo_type=str:EXID
use_ood=bool:True
tlr = float:0.0001