[arguments]
run_name = str:EXID-MiniGrid-RPrun30.1EXID
env = str:MiniGrid-LavaGapS7-v0
episodes = int:200
buffer_size = int:100000
seed = int:1
min_eps = float:0.01
eps_frames = int:10000
log_video = int:0
save_every = int:100
data_file = str:data/MiniGrid-LavaGapS7-v0_run3_fullyconv.pkl
data_type = str:rp
data_percent = float:0.1
use_wandb = bool:True
use_heur = bool:False
use_teach = bool:True
warm_start = int:30
teacher_update = int:15
threshold = float:0.94
lr = float:0.0001
lam = float:0.1
algo_type=str:EXID
use_ood=bool:False
tlr = float:0.00001